.root {
    -fx-background-color: white;
}
.Label{
    -fx-font-size: 20px;
    -fx-text-fill: black;
    -fx-font-weight: bold;
    -fx-alignment: center;
}
#toppane{
    -fx-min-width: 0;
    -fx-min-height: 0;
    -fx-pref-width: 100%;
    -fx-pref-height: 100%;
    -fx-background-color: orange;
    -fx-border-style: none;
}
#leftpane {
    -fx-width: 40px;
    -fx-background-color: black;
}
#rightpane {
    -fx-background-color: white;
}
.button {
    -fx-background-color: inherit;
    -fx-border-style: none;
    -fx-text-fill: white;
    -fx-padding: 10px 12px;
    -fx-background-radius: 2px;
    -fx-cursor: hand;
}
.button: hover {
    -fx-scale-x: 1.2;
    -fx-scale-y: 1.2;
    -fx-background-color: #716d6d;
}
.title pane {
    -fx-background-color: inherit;
    -fx-text-fill: white;
    -fx-font-size: 10px;
    -fx-padding: 10px 12px;
}
.title pane .title {
    -fx-text-fill: white;
    -fx-padding: 10px 12px;
}
.title pane: hover {
    -fx-background-color: #716d6d;
    -fx-text-fill: #df6828;
    -fx-fond-weight: bold;
}

/* Add more styles as needed */
